// ---------------------  URLs  ---------------------//
- var baseurl = 'http://balazsorban.com'
- var assets = 'assets/'
// ---------------------  INFO  ---------------------//

- var title = "Bíbic vendégházak"
- var email = 'info@bibicvendeghazak.hu'
- var reservation = 'szallasfoglalas@bibicvendeghazak.hu'
- var tel = '+36305785730'
- var telString = '+36 30 578 5730'
- var address = 'https://www.google.com/maps/place/Bibic+vendégházak/@46.394617,17.505221,17z'
- var addressString = '7561 Nagybajom Iskolaköz 3-5.'
- var facebook = 'https://www.facebook.com/Bíbic-Vendegházak-És-Söröző-200199203718517'
