// ---------------------  URLs  --------------------- //
- var baseurl = 'http://balazsorban.com'

- var szallas = 'https://szallas.hu/bibic-vendeghazak-nagybajom'
- var booking = 'https://www.booking.com/hotel/hu/babic-venda-c-gha-zak-nagybajom.hu.html'
- var address = 'https://www.google.com/maps/place/Bibic+vendégházak/@46.394617,17.505221,17z'
- var facebook = 'https://www.facebook.com/Bíbic-Vendegházak-És-Söröző-200199203718517'

// ---------------------  PATHS  --------------------- //

- var assets = 'assets/'
- var img = assets + 'img/'
- var bg = img + 'bg/'
- var other = img + 'other/'
- var gallery = img + 'gallery/'
- var icons = img + 'icons/'

// ---------------------  INFO  --------------------- //

- var title = "Bíbic vendégházak"


// ---------------------  ACTIONS  --------------------- //
- var email = 'info@bibicvendeghazak.hu'
- var reservation = 'szallasfoglalas@bibicvendeghazak.hu'
- var tel = '+36305785730'
- var addressString = '7561 Nagybajom Iskolaköz 3-5.'
- var telString = '+36 30 578 5730'

// ---------------------  ROOMS  --------------------- //
- 
  var rooms = {
    1:['Két személy részére franciaággyal, fürdőkáddal', '7.000', false, 3],
    2:['Háromágyas szoba, kerekes székkel is megközelíthetõ, zuhanyozós fürdõvel', '6.000', true, 3],
    3:['Emeleti ötágyas szoba, zuhanyozós fürdõvel', '6.000', true, 2],
    4:['Emeleti háromágyas szoba, erkéllyel, zuhanyozós fürdõvel', '6.000', true, 2],
    5:['Emeleti háromágyas szoba, erkéllyel, zuhanyozós fürdõvel', '6.000', true, 2],
    6:['Emeleti háromágyas szoba, zuhanyozós fürdõvel', '6.000', true, 2]
  }
