// ---------------------  URLs  ---------------------//
- var baseurl = 'http://balazsorban.com'
- var assets = 'assets/'
// ---------------------  INFO  ---------------------//

- var title = "Bíbic vendégházak"
- var email = 'kapcsolat@bibicvendeghazak.hu'
- var tel = '+4795460627'
