.hero
  position: relative
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.hero-img
  height: 100%
  width: 100%
  object-fit: cover
  object-position: 65%
  position: absolute
  z-index: -1

.hero-logo
  width: 40vw
  margin-top: 10vh

.scroll-icon
  margin-bottom: 5rem
  display: block
  width: 48px
  height: 48px
  background-image: url("/icons/arrow_down.svg")
  background-size: 75%
  background-repeat: no-repeat
  background-position: center
  animation: scroll-arrow 2s infinite

@keyframes scroll-arrow
  0%
    opacity: 0
    transform: translateY(-100%)
  80%, 100%
    opacity: 1
    transform: translateY(0)

@media (min-width: 768px)
  .hero
    justify-content: flex-end
  .hero-logo
    display: none