.reservation
  position: fixed
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  transform: translate(-50%, -50%)
  background: white
  z-index: 100000
  display: flex
  flex-direction: column
  justify-content: flex-end
  h2
    position: fixed
    top: 16px
    left: 50%
    transform: translateX(-50%)
    text-align: center
    font-family: "White Festive"
    font-size: 2em
    text-transform: uppercase
  h4
    text-transform: uppercase
    letter-spacing: .1em
    font-size: 1.2em
    font-family: "Coolvetica"
    font-weight: bolder
    margin: 2em 2em 0
    align-self: flex-start
  
  h5
    margin: 3em 0 0 3em 
    font-family: "Coolvetica"
    letter-spacing: .1em
    font-weight: lighter
  

.required-asterix
  &::after
    content: "*"
    
.input-box
  margin: 1em
  min-height: 32px
  display: flex
  align-items: baseline
  justify-content: flex-end
  font-family: "Coolvetica"
  letter-spacing: .1em
  border-bottom: 2px solid black
  
  label
    margin-right: .5em
    font-weight: bolder
  input
    letter-spacing: .1em
    flex-grow: 1
    margin-left: .2em
    padding: .5em
    transition: .3s background-color
    font-family: "Coolvetica"
    text-align: right
    border: none
    &:focus
      background-color: transparentize($dark, .95)

.number-controls 
  button
    position: relative
    background-color: $accent-color-dark
    border: none
    color: $light
    border-radius: 50%
    width: 32px
    height: 32px
    letter-spacing: 0
    font-weight: bolder
  
.people-count, .service
  label
    flex-grow: 1


.service
  label
    cursor: pointer
    font-size: .8em
  input
    flex-grow: 0
    cursor: pointer
    width: 16px
    height: 16px

.reservation-form
  position: relative
  height: calc(100% - 64px)
  overflow-y: scroll

.close-reservation
  position: fixed
  top: 0
  right: 0
  a
    font-size: 1.5em
    position: relative
    width: 64px
    height: 64px
    color: $accent-color-dark
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 1


.room-picker
  display: flex
  justify-content: space-evenly
  margin: 1em 0
  button
    cursor: pointer
    opacity: .5
    margin: .25em
    color: $light
    border-radius: 50%
    border: none
    width: 48px
    height: 48px
    font-family: "Coolvetica"
    transition: .2s ease-out
  span
    font-size: .5em
.room-picker-room
  display: flex
  flex-direction: column
  align-items: center

.room-active button, .room-picker button:hover
  opacity: 1

.room-services
  display: grid
  grid-template-columns: repeat(5, 1fr)
  justify-items: center
  margin: 1em 0

.room-service
  display: flex
  flex-direction: column
  align-items: center
  opacity: .3
  margin: .2em 0
  span
    font-size: .5em
    font-family: "Coolvetica"
    text-transform: lowercase
  img
    width: 32px
    height: 32px

.service-in-room
  opacity: 1

.notification
  background-color: $dark
  position: fixed
  width: calc(100% - 2em)
  max-width: 540px
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  padding: 1.5em 1em
  color: $light
  font-weight: bolder
  font-family: sans-serif
  animation: slide-in-up .3s forwards
  z-index: 10000
  display: flex
  justify-content: space-between
  align-items: center
  a
    color: $light
    border-bottom: 1px solid $light
    padding-bottom: 2px
    margin: 4px
    line-height: 1.5
  img
    width: 24px
    margin: 0 1em 0 2em
  @media (min-width: 640px)
    border-top-left-radius: 2em
    border-top-right-radius: 2em
    padding: 1em 1.5em
    img
      margin: 0 1em

.input-error
  &::after
    position: relative
    content: '!'
    font-size: .8em
    font-weight: bold
    font-family: sans-serif
    letter-spacing: 0
    color: $light
    background-color: transparentize($error, .1)
    width: 10px
    height: 10px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    padding: 4px

.message 
  margin: 1em
  textarea
    padding: .5em
    width: calc(100% - 1em)
    border: 2px solid $dark


.loading
  display: flex
  justify-content: center
  align-items: center
  margin: 2em
  .spinner
    animation: pulsate 1s infinite
    background-color: $accent-color
    border-radius: 50%
    position: relative
    width: 12px
    height: 12px
    margin-right: .5em

.date-picker
  margin: 1em auto

.footnote
  align-self: center
  font-style: italic
  margin-left: 1em
  font-size: .9em
  &::before
    content: "*"

.react-calendar__tile--hover
  background: $accent-color-dark !important
  color: $light

.react-calendar__tile--active,
.react-calendar__tile--active:enabled,
.react-calendar__tile--hasActive
  background: $accent-color !important
  color: $light


.submit-reservation
  width: 128px
  height: 128px
  background-color: $accent-color
  color: $light
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  border-radius: 50%
  font-size: 2.5em
  font-family: "White Festive"
  font-weight: bolder
  border: none
  line-height: .9
  margin: 1em auto
  text-transform: uppercase
  span
    font-size: .5em




@media (min-width: 640px)
  .reservation
    align-items: center
    h4
      margin-left: 0
      margin-bottom: 2em
  .reservation-form
    max-width: 720px
  .room-services
    grid-template-columns: repeat(3, 1fr)
    justify-items: stretch
    justify-content: center
  .room-service
    flex-direction: row
    span
      margin-left: 1em
      font-size: 1em
  .date-picker
    margin: 0
  .footnote
    padding-top: 1em
    min-width: 90%
  .form-group
    display: flex
    flex-wrap: wrap
    align-items: flex-start
  .info-box
    position: relative
    min-width: 50%