#napraforgo
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background:
      image:  linear-gradient(transparentize($dark, .3), transparentize($dark, .3)), url(#{$bg}/intro.jpg)
      size: cover
  p,img
    position: relative
    z-index: 1
  p
    text-align: left
    margin: 7.5vw 0
    width: 85vw
.certificates
  display: flex
  align-items: center
  justify-content: space-evenly
  margin-bottom: 7.5vw
.certificate
  width: 42.5%

@media (min-width: 640px)
  #napraforgo
    flex-direction: row-reverse
    &::after
      background-image:  linear-gradient(transparentize($dark, .5), transparentize($dark, .5)), url(#{$bg}/intro.jpg)
    p
      text-align: right
      margin: 5vw 5vw 5vw 2.5vw
  .certificates
    margin: 0 5vw
  .certificate
    height: 25vw
    width: auto
    &:first-of-type
      margin-right: 0

@media (min-width: 768px)
  #napraforgo
    p
      margin: 10vw 10vw 10vw 5vw
  .certificates
    margin-left: 10vw
    img
      height: 192px

@media (min-width: 1024px)
  #napraforgo
    padding: 5vw
    flex-direction: column
    align-items: flex-end
    &::after
      background-image:  url(#{$bg}/intro.jpg)
    p
      margin: 0 0 5vw 0
      width: 45%
  .certificates
    img
      position: relative
      height: 256px
      &:first-of-type
        margin-right: 5vw




@media (min-width: 1440px)
  #napraforgo
    padding: 10vw
    p
      width: 35%
