#programok
  background: #ddd
  color: $dark
  h2
    text-shadow: 1px 1px transparentize($dark, .3)
  .slider-arrow
    filter: invert(1)
@media (min-width: 1024px)
  #programok
    background: url(./media/images/bg/paper.jpg)
    background-size: 115%