#szolgaltatasok
  display: flex
  flex-direction: column
  h2
    padding-left: .5em
  img
    width: 100%
  li
    p
      background-color: $light
      color: $dark

@media (orientation: landscape)
  #szolgaltatasok
    img
      position: relative
      margin: 0 auto
      width: 50%
      box-shadow: 0 0 10px rgba(0,0,0,.8)

@media (min-width: 1024px)
  #szolgaltatasok
    position: relative
    h2
      text-align: left
      margin-left: 15vw
      padding-bottom: 0
    ul
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      margin: 0 5vw
    li
      margin: 1em
      box-shadow: 0 0 10px rgba(0,0,0,.8)
      width: 35vw
      background-color: $light
      p
        background-color: transparent
        margin: 0
        padding: 1.5em
    img
      box-shadow: none
      width: 100%
    >p
      margin: 5vw auto
      padding: 0
      max-width: 30vw

@media (min-width: 1280px)
  #szolgaltatasok
    ul
      flex-wrap: nowrap
    li
      width: 30vw