#arak
  background:
    image: linear-gradient(transparentize($dark, .3), transparentize($dark, .3)), url(#{$bg}/price.jpg)
    size: cover

  h5, span
    color: #c77a7a
    padding-left: .5em

  h3
    padding: .4em
    font-size: .8em
  ul
    display: flex
    flex-direction: column
    align-items: center
  li
    padding: .5%
#pub-prices
  h2
    font-size: 1.2em
    padding-top: .5rem
@media (min-width: 480px)
  #arak
    padding: 0 10%

@media (min-width: 640px)
  #arak
    padding: 0 20%

  #pub-prices
    padding-bottom: 15%
    h2, h3
      text-align: right
    h3
      &:first-of-type
        padding-top: 1em
        text-align: left

    ul
      align-items: flex-end

@media (min-width: 768px)
  #arak
    padding: 0 25%
    h2
      padding-top: 30%
  #room-prices
    margin-top: 35%
    ul
      padding: 5% 0
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
    h4
      text-align: center
      display: flex
      flex-direction: column
  #pub-prices
    h2
      padding-top: 0
    h3
      &:first-of-type
        padding-top: 5%
        padding-bottom: 5%

@media (min-width: 1024px)
  #room-prices
    h3
      font-size: 1.2em
  #pub-prices
    h3
      &:first-of-type
        padding-top: 15%

@media (min-width: 1280px)
  #room-prices
    margin-top: 20%
  #pub-prices
    h3
      &:first-of-type
        padding-top: 20%

@media (min-width: 1440px)

  #pub-prices
    h3
      &:first-of-type
        padding-top: 25%
