#arak
  background:
    image: linear-gradient(transparentize($dark, .3), transparentize($dark, .3)), url(#{$bg}/price.jpg)
    size: cover

  h4,h5
    span
      display: block
      font-size: 80%
  h5
    span
      text-transform: lowercase
  a
    display: block
    text-align: center

#room-prices
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 10vw
  li
    width: 40vw
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    margin: 0 1.5vw calc(3vw + 64px)
    padding: .5em
    background-color: $light
    @for $i from 1 through length($prices)
      &:nth-of-type(#{$i})
        h4, a
          background-color: nth($prices, $i)
        a:hover
          background-color: lighten(nth($prices, $i), 20)
  a, h5
    text-transform: uppercase
    padding: .7em 0
    align-self: stretch
  a
    font-family: BebasKai
    font-size: 1.2em
    transition: .3s
  h5
    font-style: italic
  h4
    color: $light
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 112px
    height: 112px
    border-radius: 50%
    margin-top: -64px

@media (min-width: 640px)
  #room-prices
    margin-top: 5vw
    li
      width: 20vw
      margin-left: 1vw
      margin-right: 1vw

@media (min-width: 1024px)
  #room-prices
    li
      width: 10vw
      padding: 1em
    h4
      font-size: 2em
      width: 164px
      height: 164px
      margin-top: -92px
    h5
      font-size: 1.7em
    a
      font-size: 1.5em
      align-self: center
      padding: .5em 1em
