// ------------------------------ TYPOGRAPHY ------------------------------ //

@include import-font(Cocogoose,otf)
@include import-font(ConeriaScript)
@include import-font(Coolvetica)
@include import-font(TheanoDidot)


h1, #bemutatkozas h2
  font-family: ConeriaScript

#bemutatkozas
  h2
    color: $accent-color-2


#szolgaltatasok, #szobak
  h3
    padding-bottom: 1.5rem
    text-transform: uppercase
    font-family: Cocogoose
    color: $accent-color-3
    font-size: 0.75em
    letter-spacing: 0.50em

#arak
  h2, h3, h4, h5, p
    font-family: Cocogoose

h2, h3, p
  font-size: 1.2rem
  text-align: center
  line-height: 1.5

h3, h4, p
  font-family: TheanoDidot
  color: $grey
h4, p
  a
    color: $accent-color-2
    border-bottom: 1px solid $accent-color-2
h2
  padding-top: 1.5rem
  font-size: 1.5rem
  text-transform: uppercase
  font-family: Cocogoose

main, a
  color: $light
a
  transition: .5s
  &:hover
    color: $accent-color-2
    border-bottom: 1px solid $accent-color-2
p
  padding: .5rem 1.5rem
  line-height: 1.2

@media (min-width: 640px)
  p
    padding: .5rem 2.5rem

// ------------------------------ MISC ------------------------------ //
main
  background-color: $accent-color
section
  display: flex
  justify-content: center
  flex-direction: column
