#szolgaltatasok
  li
    transition: .5s
    @for $i from 1 through 3
      &:nth-child(#{$i})
        @include import-img(services_#{$i})
        background:
          size: auto 100%
          position: center

    &:hover
      background-size: auto 110%

  a
    display: flex
    align-items: center
    justify-content: center
    padding: 2rem 0
    border: none
  p
    text-align: right
    max-width: 85%
    padding: 0
  span
    opacity: .8
    margin-left: 8px
    width: 24px
    height: 24px
    @include import-img(arrow, $icons, png)
    animation: link-arrow 1.5s infinite
    background-size: cover
