#hero-title, #hero-img
  position: fixed
  top: 0

#hero-title
  padding: 1rem .5rem
  z-index: 1001
  a
    display: flex
    flex-direction: column
    font-size: 1.5rem
    &:hover
      border-bottom: none
      color: $light

  span:last-child
    font-size: 45%

#hero-img
  transform: translateX(-25vw)
  height: 100vw
  z-index: -1
// Keep the main section under the header!!!!
main
  margin-top: 100vw

@media (min-width: 480px)
  #hero-img
    height: auto
    width: 100%
    transform: none
  main
    margin-top: calc(100vw * 9/16 + 20vw - 60px)

@media (min-width: 768px)
  #hero-title
    width: 100%
    text-align: center
    top: 10vw
    transform: scale(2.5)
    transform-origin: top
    transition: transform .2s, top .2s, background-color .2s
    a
      width: 10vw
      margin: 0 auto
    span
      color: $accent-color-dark

  .hero-title-fixed
    top: 0 !important
    transform: scale(1) !important

@media (min-width: 1024px)
  #hero-title
    transform: scale(3.5)

@media (min-width: 1280px)
  #hero
    max-height: 100vh
    min-height: 100vh
    overflow: hidden
  main
    margin-top: 10vh
  #hero-title
    top: 15vw
  .scroll-icon
    position: absolute
    width: 36px
    height: 36px
    bottom: 30px
    left: 50%
    @include import-img(arrow, $icons, svg)
    animation: scroll-arrow 1.3s infinite
    background-size: cover
    cursor: pointer
