include ESSENTIALS/_vars

doctype html
html(lang='hu')
  head
    include ESSENTIALS/head
    title Admin | Bíbic vendégházak
  body
    noscript
      p A kezelőfelület eléréséhez JavaScript futtatására van szükség.
      a(href="mailto:info@balazsorban.com") írjon a weblap készítőjének.
    #root
