include 1-ESSENTIALS/vars
<!DOCTYPE html>
html(lang='hu')
  head
    include 2-MODULES/head
  body
    header
      include 2-MODULES/header
    main
      section#landing
        h2 Szeretettel üdvözöljük a Bíbic vendégházak honlapján!
        div
          ul
            li
              img(src=assets+'img/hegedus.jpg')
              h3 Hegedüs Péter
              h4 Bíbic Vendégházak házigazdája
            li
              img(src=assets+'img/hegedusne.jpg')
              h3 Hegedüsné Kóró Ágnes
              h4 Fauna ház tulajdonosa
            li
              img(src=assets+'img/gombkoto.jpg')
              h3 Gombkötő Gábor
              h4 Flóra ház tulajdonosa
        p A nagybajomi panzió, illetve vendégház tervét családi ötletelés – Hegedüs Péter és Gombkötő Gábor, testvérek vagyunk- alkalmával találtuk ki 1998-ban. Majd hosszú évekig csak ötlet illetve tervezgetés maradt a finanszírozás hiánya miatt. 2008-ban azonban a Mezőgazdasági és Vidékfejlesztési Hivatal pályázatot írt ki, turisztikai fejlesztések támogatására. Ekkor,két négy napraforgós vendégház építésére támogatási kérelmet nyújtottunk be – Hegedüsné Kóró Ágnes és Gombkötő Gábor – a Hivatalhoz, melyet 2009-ben meg is ítéltek számunkra. Az előkészületek és az előfinanszírozás megszervezése után 2010-ben elkezdődhetett a Flóra ház építése (képek a médiatárban). 2012-ben kaptunk működési engedélyt. Jelenleg az utolsó fázis van folyamatban, kertépítés, parkosítás.
    footer
      include 2-MODULES/footer
    script(src=assets+'js/index.js')
