include 1-ESSENTIALS/vars
<!DOCTYPE html>
html(lang='hu')
  head
    include 2-MODULES/head
  body
    header
      include 2-MODULES/header
    main
      include 3-SECTIONS/landing
      include 3-SECTIONS/services
      include 3-SECTIONS/rooms
      include 3-SECTIONS/prices
      include 3-SECTIONS/reservation

    footer#kapcsolat
      include 2-MODULES/footer
    script(src=assets+'js/index.js')
