include ESSENTIALS/_vars

doctype html

html(lang='hu')
  
  head
    include ESSENTIALS/head
    
  body
    
    header
      include SECTIONS/header
      
    main
      include SECTIONS/main
      
    footer
      include SECTIONS/footer
      
    include ESSENTIALS/_scripts
