ul
  li
    a(href='#') Bíbic vendégházak
  li
    a(href='#') Szallas.hu
  li
    a(href='#') Booking.com
  li
    a(href='#') Cím
  li
    a(href='#') E-mail
  li
    a(href='#') Telefon
  li
    a(href='#') Facebook
