#hero
  h1
    span Bíbic
    span vendégházak
  #hero-img
    img(src=bg+'hero.jpg' alt='Hero image')
      
  #mobile-menu.hidden
    #hamburger-icon.hidden
      span
    ul.mobile-nav
      li
        a(href='#bemutatkozas') Bemutatkozás
      li
        a(href='#szolgaltatasok') Szolgáltatások
      li
        a(href='#szobak') Szobák
      li
        a(href='#foglalas') Foglalás
      li
        a(href='#galeria') Galéria
      li
        a(href='#kapcsolat') Kapcsolat
nav
  ul
    li
      a(href='#bemutatkozas') Bemutatkozás
    li
      a(href='#szolgaltatasok') Szolgáltatások
    li
      a(href='#szobak') Szobák
    li
      a(href='#foglalas') Foglalás
    li
      a(href='#galeria') Galéria
    li
      a(href='#kapcsolat' class='scroll' data-speed='2000') Kapcsolat
