div#hero
  h1 #{title}
  img(src='' alt='Hero image')
nav
  ul
    li
      a(href='#bemutatkozas') Bemutatkozás
    li
      a(href='#szolgaltatasok') Szolgáltatások
    li
      a(href='#szobak') Szobák
    li
      a(href='#foglalas') Foglalás
    li
      a(href='#galeria') Galéria
    li
      a(href='#kapcsolat') Kapcsolat
