nav
  ul
    li
      a(href='#') Bemutatkozás
    li
      a(href='#') Szolgáltatások
    li
      a(href='#') Szobák
    li
      a(href='#') Foglalás
    li
      a(href='#') Galéria
    li
      a(href='#') Kapcsolat
