#copyright
  background-color: $dark
  text-align: center
  padding: 2em 0
  a
    padding: .2em
  h4
    color: $light
    font-family: Coolvetica
    font-weight: lighter
    font-size: .6em

@media (min-width: 1024px)
  #copyright
    h4
      br
        display: none
