section#arak
  h2 Árak
  #room-prices
    h3 KEDVEZMÉNYES ÁRAK: EGYEDI AJÁNLAT ALAPJÁN! <span>KÉRJEN KÜLÖN AJÁNLATOT!</span>
    ul
      li
        h4 Kétágyas
          span 7.000.-/fő/éj
      li
        h4 Háromágyas
          span 6.000.-/fő/éj
      li
        h4 Pótágy
          span 4.500.-/fő/éj
      li
        h4 Teljes ház
          span 90.000.- max 19 fő
  #pub-prices
    h3 Az árak forintban értendők, tartalmazzák a reggeli árát és az Idegenforgalmi adót.               
    h2 SÖRÖZŐ bérleti díjak
    h3 (a teljes teremre értendő, kiszolgáló eszközökkel és személyzettel 65m<sup>2</sup>):
    ul
      li
        h4 4 óra
          span 16.000.-
      li
        h4 8 óra 
          span 28.000.-
      li
        h4 10 óra 
          span 35.000.-
      li
        h4 Egész nap
          span 50.000.-
