section#szolgaltatasok
  h2 Szolgáltatásaink
  ul
    li
      a(href='#galeria')
        .services-bg
        p Klimatizált helyiségek, fürdőszobás szobák, felszerelt konyha, tágas étkező-nappali, előadó terem.
        span
    li
      a(href='#galeria')
        .services-bg
        p Klimatizált konferencia terem, bárpulttal, sörcsappal, vinotékával (50 főig).
        span
    li
      a(href='#galeria')
        .services-bg
        p Kerti konyha, kemencével, bográcshellyel, csikó tűzhellyel (rem sütő), grillezővel, füstölővel, kerti bútorral. Az aktív pihenést kedvelőknek ping-pong asztal, kerékpárok a gyermekeknek játszó tér áll rendelkezésére.
        span
