section#galeria
  h2 Galéria
  #gallery.js_simple
    .frame.js_frame
      ul.slides.js_slides
        - var n = 0;
        while n < 30 
          li.js_slide
            img(src=gallery + n++ +'.jpg')
    span.js_prev.prev
      svg(xmlns='http://www.w3.org/2000/svg', width='50', height='50', viewbox='0 0 501.5 501.5')
        g
          path(fill='#FFF', d='M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z')
    span.js_next.next
      svg(xmlns='http://www.w3.org/2000/svg', width='50', height='50', viewbox='0 0 501.5 501.5')
        g
          path(fill='#FFF', d='M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z')
