@keyframes scroll-arrow
  0%
    opacity: 0
    transform: translate(-50%, -50%) rotate(90deg)
  80%, 100%
    opacity: 1
    transform: translate(-50%, 50%) rotate(90deg)

@keyframes pulsate
  100%
    opacity: 0
    transform: scale(1.8)

@keyframes swipe
  0%, 15%
    transform: translateX(-100%)
  85%, 100%
    transform: translateX(-25%)

@keyframes slide-in-up
  0%
    opacity: 0
    transform: translateY(100%) translateX(-50%)
  100%
    opacity: 1
    transform: translateX(-50%)

@keyframes slide-in-right
  0%
    transform: translate(100%)
  70%
    transform: translate(0)
  