@keyframes link-arrow
  0%, 100%
    transform: translateX(-20%) translateY(-50%)

  50%
    transform: translateX(20%) translateY(-50%)


@keyframes scroll-arrow
  0%
    opacity: 0
    transform: translateY(-50%) rotate(90deg)
  100%
    opacity: 1
    transform: translateY(50%) rotate(90deg)

@keyframes pulsate
  100%
    opacity: 0
    transform: scale(1.8)

@keyframes fade1
  0%, 100%
    opacity: 1
  33.333%, 66.666%
    opacity: 0

@keyframes fade2
  0%, 66.666%, 100%
    opacity: 0
  33.333%
    opacity: 1

@keyframes fade3
  0%, 33.333%, 100%
    opacity: 0
  66.666%
    opacity: 1

@keyframes slideInLeft
  0%
    opacity: 0
    transform: translateX(-100%)
  100%
    opacity: 1
    transform: translateX(0)
