.slider
  padding: .5em 1em
  min-height: 0
  h2
    margin: 0
    font-size: 2.5em
    text-align: center
  p
    margin: .5em
  .slider-arrow
    width: 24px
    height: 24px
    top: -1em
.slide-content
  cursor: pointer
  margin: 1px
  display: flex
  align-items: center
  flex-direction: column
  img
    pointer-events: none
    max-height: 60vh
    
@media (orientation: landscape) and (min-width: 1024px)
  .slider
    padding: 2.5% 10%
    h2
      text-align: left
      font-size: 3em
    .slider-arrow
      top: 50%
    .slider-arrow-prev
      left: -10%
    .slider-arrow-next
      right: -10%

    .slide-content
      justify-content: space-between
      flex-direction: row-reverse
      img
        max-height: none
        max-width: 40vw

  .slide-content-right
    flex-direction: row !important

  .slide-title-right
    text-align: right !important


.swipe-icon
  opacity: .5
  z-index: 10
  width: 36px
  height: 36px
  margin-top: 1em
  left: 50%
  transform: translateX(-100%)
  animation: swipe 3.5s infinite alternate-reverse
  animation-timing-function: ease-in-out
  transition: opacity 1s ease-out

.slider-arrow
  position: absolute
  top: 95%
  z-index: 1000
  width: 24px
  height: 24px
  padding: 6px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
.slider-arrow-prev
  transform: translate(50%, -100%) rotate(180deg)

.slider-arrow-next
  right: 0
  transform: translate(-50%, -100%) 


@media (orientation: landscape)
  .slider-arrow
    margin: 0 1em