body, ul, textarea, input, fieldset
  margin: 0
  padding: 0
a
  text-decoration: none
  cursor: pointer
li
  list-style-type: none
img
  display: block
  color: black
  max-width: 100%
    
textarea, input, fieldset
  border: none

button
  border: none
  cursor: pointer

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
