#szobak h2
  padding-top: 1rem

.room
  margin: 10% 5%
  h3
    text-align: center

  .room-services
    position: relative
    align-self: center
    z-index: 100
    max-width: none
    margin: 1em 2em
    display: flex
    background-color: transparent
    flex-wrap: wrap
    justify-content: flex-end

  .room-service
    margin: .5em
    filter: invert(1)

.room-title
  position: relative
  z-index: 100
  font-family: "White Festive", sans-serif
  text-transform: uppercase
  line-height: 3rem
  font-size: 3rem
  text-align: right

.room-description
  position: relative
  z-index: 100
  text-align: center

.room-reserve-btn
  margin-bottom: 1em

.room-unavailable-reserve-btn
  opacity: .3
  position: relative
  &:hover
    opacity: .8
    &::after
      font-family: monospace
      bottom: -1em
      left: -2em
      position: absolute
      content: "jelenleg nem elérhető"
      font-size: .6em
      padding: .75em .2em
      width: calc(135%)
      text-align: center
      background: #444
      border-radius: 1.5em



  
@media (min-aspect-ratio: 9/6), (min-width: 640px)
  .room
    display: grid
    grid-gap: 3rem
    max-width: 90%
    margin: 10% auto
    align-items: center
    grid-template-rows: 64px auto 1fr
    grid-template-columns: 2fr 1fr 50%
    grid-template-areas: "title res-btn slider" "desc desc slider" "services services slider"

    .room-services
      margin: 0
      padding: 0
      grid-area: services

  .room-reserve-btn
    margin-bottom: 0
    grid-area: res-btn

  .room-title
    justify-self: flex-start
    grid-area: title


  .room-description
    padding: 0
    text-align: right
    grid-area: desc
    
@media (min-width: 1024px)
  .room
    max-width: 960px
    grid-template-columns: 1fr 1fr 60%


@import 'room-slider'
