#kapcsolat
  @include import-img(footer)
  background-size: cover
  ul
    padding: 1.5em 0 0
    justify-content: center
    display: flex
    flex-wrap: wrap
  li
    padding: .5em .5em
    a:hover
      border-bottom: none
    img
      box-sizing: border-box
      max-width: 72px
      background-color: transparent
      padding: .2em
      border-radius: 50%
      transition: .5s
      &:hover
        background-color: $accent-color-2
        border: none
  span
    display: none
#reachout
  padding: 0 0 1.5em !important
  li img
    max-width: 48px


#galeria
  h2
    padding-top: 0
    color: $light

#gallery
  display: flex
  justify-content: center
  align-items: center
  img
    width: 90vw
    height: 55vw

#copyright
  text-align: center
  font-size: .6em
  padding: 2em

@media (min-width: 480px)
  #kapcsolat
    li
      margin: 0 1rem

@media (min-width: 640px)
  #kapcsolat
    li
      margin: 0 2rem
  #gallery
    img
      width: auto
      height: 60vh
