#hero
  position: relative
  display: flex
  justify-content: center
  align-items: center
  min-height: 256px
  h1
    position: absolute
    z-index: 1
    color: white
  img
    position: absolute
    width: 100%
    height: 100%

nav
  ul
    align-content: center
    display: flex
    flex-wrap: wrap

  li
    padding: 1.5em
