#kapcsolat
  margin: 5%

  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
  li
    margin: 4px 8px

  path
    transition: .3s
  a
    border-bottom: none
    &:hover
      path
        fill: $accent-color-2
#logos, #reachout
  margin: 10% 5%
#logos

  svg
    width: 100px
    height: 100px
#reachout
  svg
    width: 48px
    height: 48px
  span
    display: none

@media(orientation: portrait)
  #logos, #reachout
    margin: 0 17.5%
  #logos
    li:nth-of-type(2)
      order: -1

@media (min-width: 640px)
  #logos, #reachout
    margin: 0 15%
  #logos
    margin: 0
    svg
      width: 120px
      height: 120px

@media (min-width: 1024px)
  #kapcsolat
    li
      margin: 16px
  #reachout
    span
      display: block
      margin-left: .5em
      font-size: .8em
    a
      display: flex
      flex-direction: row-reverse
      align-items: center
      justify-content: space-between

@media (min-width: 1280px)
  #kapcsolat
    margin: 0 10% 5% 10%
  #logos
    svg
      width: 192px
      height: 192px
