#copyright
  background-color: rgba(0,0,0,.3)
  text-align: center
  padding: 2em 0
  h4
    font-family: Coolvetica
    font-weight: lighter
    font-size: .6em

@media (min-width: 1024px)
  #copyright
    h4
      br
        display: none
