body, ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

img {
  color: white;
  background-color: #444; }

@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Cocogoose.otf); }

@font-face {
  font-family: ConeriaScript;
  src: url(../fonts/ConeriaScript.ttf); }

@font-face {
  font-family: Coolvetica;
  src: url(../fonts/Coolvetica.ttf); }

@font-face {
  font-family: TheanoDidot;
  src: url(../fonts/TheanoDidot.ttf); }

h1, #landing h2 {
  font-family: ConeriaScript; }

#landing h2, #bemutatkozas h2 {
  color: #d3b098; }

#szolgaltatasok h3, #szobak h3 {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: Cocogoose;
  color: #38211e;
  font-size: 0.75em;
  letter-spacing: 0.50em; }

#arak h2, #arak h3, #arak h4, #arak h5, #arak p {
  font-family: Cocogoose; }

h2, h3, p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5; }

h3, h4, p {
  font-family: TheanoDidot;
  color: #c7c7c7; }

h4 a, p a {
  color: #d3b098;
  border-bottom: 1px solid #d3b098; }

h2 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Cocogoose; }

main, a {
  color: #fafafa; }

a {
  transition: .5s; }
  a:hover {
    color: #d3b098;
    border-bottom: 1px solid #d3b098; }

p {
  padding: .5rem 1.5rem;
  line-height: 1.2; }

main {
  background-color: #482c29; }

section {
  display: flex;
  justify-content: center;
  flex-direction: column; }

@keyframes link-arrow {
  0%, 100% {
    transform: translateX(-10%); }
  50% {
    transform: translateX(0%); } }

#hero {
  position: relative;
  height: 100vw;
  display: flex;
  max-width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    #hero {
      height: 85vmin; } }

h1 {
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  padding: 17.5vw 10vw;
  z-index: 2;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center; }
  h1 span:first-child {
    font-size: 2em; }
  h1 span:last-child {
    font-size: .9em; }
  @media (min-width: 1024px) {
    h1 {
      margin-top: -30%;
      position: static;
      color: #482c29; }
      h1 span:first-child {
        font-size: 3rem; }
      h1 span:last-child {
        font-size: 1.9rem; } }

#hero-img {
  align-self: flex-start; }
  #hero-img img {
    position: absolute;
    margin-left: -95%;
    height: 120%; }
    @media (min-width: 1024px) {
      #hero-img img {
        height: auto;
        width: 100%;
        margin-left: 0;
        left: 0;
        top: -35%; } }
  #hero-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent);
    background-color: rgba(0, 0, 0, 0.1); }

nav {
  background-color: #1f1511;
  font-family: Cocogoose;
  text-transform: uppercase;
  background-image: url(../img/bg.png); }
  nav ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  nav li {
    margin: .5rem;
    padding: .5rem; }
  nav a {
    padding: .1rem; }

#kapcsolat {
  background-image: url(../img/footer.jpg);
  background-size: cover; }
  #kapcsolat ul {
    padding: 1.5em 0 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  #kapcsolat li {
    padding: .5em .5em; }
    #kapcsolat li a:hover {
      border-bottom: none; }
    #kapcsolat li img {
      box-sizing: border-box;
      max-width: 72px;
      background-color: transparent;
      padding: .2em;
      border-radius: 50%;
      transition: .5s; }
      #kapcsolat li img:hover {
        background-color: #d3b098;
        border: none; }
  #kapcsolat span {
    display: none; }

#reachout {
  padding: 0 0 1.5em !important; }
  #reachout li img {
    max-width: 48px; }

#galeria h2 {
  padding-top: 0;
  color: #fafafa; }

#gallery {
  display: flex;
  justify-content: center;
  align-items: center; }
  #gallery img {
    width: 90vw;
    height: 55vw; }

#copyright {
  text-align: center;
  font-size: .6em;
  padding: 2em; }

#landing {
  background-image: url(../img/bg.png);
  background-color: #1f1511; }
  #landing h2 {
    font-weight: lighter;
    text-transform: none; }
  #landing ul {
    padding-bottom: 1.5em; }
  #landing li {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #landing img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: 1em 0; }
  #landing p:first-of-type {
    text-align: left; }
  #landing p:nth-of-type(2) {
    padding: 0; }
  #landing p:last-of-type {
    text-align: right;
    padding-bottom: 1.5rem; }

#bemutatkozas {
  position: relative; }
  #bemutatkozas::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img//intro.jpg);
    background-size: cover; }
  #bemutatkozas h2, #bemutatkozas p, #bemutatkozas ul {
    z-index: 1; }
  #bemutatkozas p {
    text-align: left; }
  #bemutatkozas ul {
    padding: 1rem 0 1.5rem; }
  #bemutatkozas li {
    padding: 0 .5rem; }
  #bemutatkozas ul, #bemutatkozas li {
    display: flex;
    justify-content: center; }
  #bemutatkozas img {
    width: 90%;
    align-self: flex-start; }

#szolgaltatasok li {
  transition: .5s; }
  #szolgaltatasok li:nth-child(1) {
    background-image: url(../img/services_1.jpg);
    background-size: auto 100%;
    background-position: center; }
  #szolgaltatasok li:nth-child(2) {
    background-image: url(../img/services_2.jpg);
    background-size: auto 100%;
    background-position: center; }
  #szolgaltatasok li:nth-child(3) {
    background-image: url(../img/services_3.jpg);
    background-size: auto 100%;
    background-position: center; }
  #szolgaltatasok li:hover {
    background-size: auto 110%; }

#szolgaltatasok a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border: none; }

#szolgaltatasok p {
  text-align: right;
  max-width: 85%;
  padding: 0; }

#szolgaltatasok span {
  opacity: .8;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/arrow.png);
  animation: link-arrow 1.5s infinite;
  background-size: cover; }

#szobak {
  background-color: #d3b098; }
  #szobak h3 {
    color: #594630; }
  #szobak li {
    display: flex;
    flex-direction: column; }
    #szobak li:nth-child(1) {
      background-color: #321e1e; }
      #szobak li:nth-child(1) h4 {
        background-color: #724444; }
    #szobak li:nth-child(2) {
      background-color: #37584c; }
      #szobak li:nth-child(2) h4 {
        background-color: #5e9782; }
    #szobak li:nth-child(3) {
      background-color: #683626; }
      #szobak li:nth-child(3) h4 {
        background-color: #b35d41; }
    #szobak li:nth-child(4) {
      background-color: #412221; }
      #szobak li:nth-child(4) h4 {
        background-color: #844644; }
    #szobak li:nth-child(5) {
      background-color: #1b2431; }
      #szobak li:nth-child(5) h4 {
        background-color: #405572; }
    #szobak li:nth-child(6) {
      background-color: #28311b; }
      #szobak li:nth-child(6) h4 {
        background-color: #5e7240; }
  #szobak h4 {
    order: 1;
    font-family: Coolvetica;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 86px;
    height: 86px;
    margin: -43px auto 0;
    border-radius: 50%; }
  #szobak p {
    order: 2;
    font-style: italic;
    padding: 1.5em; }
  #szobak img {
    width: 100%; }

#arak {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img//price.jpg);
  background-size: cover; }
  #arak p {
    padding: .5em;
    font-size: .75em;
    color: #fafafa; }
  #arak span {
    color: #c77a7a; }
  #arak ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #arak ul:first-of-type {
      margin-top: 2.5em; }
  #arak li {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #arak h3 {
    margin-top: 1.5em;
    color: #fafafa; }
  #arak h4 {
    font-weight: normal;
    text-align: center; }
  #arak h5 {
    margin: 0;
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column; }

#foglalas {
  background-image: url(../img/reservation.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vw;
  justify-content: flex-end; }
  #foglalas h3 {
    text-align: center;
    padding-bottom: 2em; }
  #foglalas a {
    font-size: .9em;
    color: #dd6565;
    background-image: linear-gradient(to right, #dd6565 33%, transparent 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x; }
    #foglalas a:hover {
      background-image: linear-gradient(to right, #fafafa 33%, transparent 0%);
      color: #fafafa;
      border-bottom: none; }
