body, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  padding: 1.5em; }

li {
  list-style-type: none; }

img {
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  vertical-align: middle; }

@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Cocogoose.otf); }

@font-face {
  font-family: Coolvetica;
  src: url(../fonts/Coolvetica.ttf); }

@font-face {
  font-family: Theano;
  src: url(../fonts/TheanoDidot.ttf); }

@font-face {
  font-family: ConeriaScript;
  src: url(../fonts/ConeriaScript.ttf); }

h2 {
  text-align: center; }

a {
  color: white;
  transition: .5s;
  padding-bottom: .2em; }
  a:hover {
    color: #d3b098;
    border-bottom: 1px solid #d3b098; }

p {
  text-align: justify; }

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px; }
  #hero h1 {
    font-family: ConeriaScript, monospace;
    font-weight: lighter;
    position: absolute;
    z-index: 1;
    color: #482c29;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #hero h1 span:first-child {
      font-size: 2em; }
    #hero h1 span:last-child {
      font-size: .9em; }
  #hero img {
    position: absolute;
    width: 100vw;
    height: 100%; }

nav {
  background-color: #482c29;
  font-family: Cocogoose;
  text-transform: uppercase; }
  nav ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  nav li {
    margin: .5em;
    padding: .5em; }
  nav a {
    padding: .1em; }

#kapcsolat ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

#kapcsolat li {
  padding: 1.5em; }

main {
  color: white;
  background-color: #482c29; }

#landing h2 {
  padding: 1em 0;
  color: #d3b098;
  font-family: ConeriaScript;
  font-weight: lighter; }

#landing ul li {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #landing ul li img {
    border-radius: 50%;
    width: 128px;
    height: 128px; }

#arak #szobak ul {
  margin: 1.5em;
  display: flex; }
  #arak #szobak ul li {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #arak #szobak ul h4 {
    text-align: center; }

#arak #sorozo h3 {
  text-align: right; }

#arak #sorozo ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

#arak #sorozo span {
  margin-left: 1.5em; }

#foglalas h3 {
  text-align: center; }

#gallery {
  margin: 1.5em;
  display: flex;
  justify-content: center; }
  #gallery img {
    width: 80%;
    min-height: 200px; }
