@charset "UTF-8";
body, ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

img {
  color: white;
  background-color: #444; }

@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Cocogoose.otf); }

@font-face {
  font-family: ConeriaScript;
  src: url(../fonts/ConeriaScript.ttf); }

@font-face {
  font-family: Coolvetica;
  src: url(../fonts/Coolvetica.ttf); }

@font-face {
  font-family: TheanoDidot;
  src: url(../fonts/TheanoDidot.ttf); }

h1, #bemutatkozas h2 {
  font-family: ConeriaScript; }

#bemutatkozas h2 {
  color: #d3b098; }

#szolgaltatasok h3, #szobak h3 {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: Cocogoose;
  color: #38211e;
  font-size: 0.75em;
  letter-spacing: 0.50em; }

#arak h2, #arak h3, #arak h4, #arak h5, #arak p {
  font-family: Cocogoose; }

h2, h3, p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5; }

h3, h4, p {
  font-family: TheanoDidot;
  color: #c7c7c7; }

h4 a, p a {
  color: #d3b098;
  border-bottom: 1px solid #d3b098; }

h2 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Cocogoose; }

main, a {
  color: #fafafa; }

a {
  transition: .5s; }
  a:hover {
    color: #d3b098;
    border-bottom: 1px solid #d3b098; }

p {
  padding: 0 1.5rem;
  line-height: 1.2; }

@media (min-width: 640px) {
  p {
    padding: 0 5rem; } }

@media (min-width: 768px) {
  p {
    padding: .5rem 5rem; } }

@media (min-width: 1024px) {
  h2 {
    font-size: 2em; }
  h3, h4 {
    font-weight: lighter; }
  h3 {
    font-size: 1.5em; }
  p {
    font-size: 1.2em;
    padding: 2.5% 20%;
    line-height: 1.5; } }

@media (min-width: 1280px) {
  h2 {
    padding: 2% 0; } }

@media (min-width: 1440px) {
  h2 {
    font-size: 2.3em; }
  h4 {
    font-size: 1.2em; }
  a {
    font-size: 1.5em; }
  p {
    font-size: 1.4em; } }

main {
  background-color: #482c29; }

section {
  display: flex;
  justify-content: center;
  flex-direction: column; }

@keyframes link-arrow {
  0%, 100% {
    transform: translateX(-20%); }
  50% {
    transform: translateX(20%); } }

#hero {
  position: relative;
  height: 90vw;
  display: flex;
  max-width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

h1 {
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15vmin 10vmin;
  z-index: 2;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center; }
  h1 span:first-child {
    font-size: 2em; }
  h1 span:last-child {
    font-size: .9em; }

#hero-img {
  align-self: flex-start; }
  #hero-img img {
    position: absolute;
    margin-left: -95%;
    height: 120%; }
  #hero-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent);
    background-color: rgba(0, 0, 0, 0.1); }

nav {
  background-color: #1f1511;
  font-family: Cocogoose;
  text-transform: uppercase;
  background-image: url(../img/bg/bg.png); }
  nav ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  nav li {
    margin: 1.1rem .5rem; }
  nav a {
    padding: 1.1rem .5rem; }

@media (min-width: 480px) {
  #hero {
    height: 50vw; }
  #hero-img img {
    height: auto;
    width: 100vw;
    margin-left: -50%; } }

@media (min-width: 640px) {
  #hero {
    height: 40vw; }
  h1 {
    padding-left: 30%; }
  #hero-img img {
    margin-top: -10%; } }

@media (min-width: 768px) {
  h1 {
    padding-top: 10%; }
  nav ul {
    margin: 0 auto;
    max-width: 80%; }
  nav li {
    margin: 1rem; }
  nav a {
    padding-bottom: .5em; } }

@media (min-width: 1024px) {
  #hero {
    display: flex;
    justify-content: center;
    height: 50vw; }
  #hero-img {
    position: absolute; }
    #hero-img img {
      margin: 0;
      position: static;
      margin-top: -5%; }
    #hero-img::after {
      background: none; }
  h1 {
    position: static;
    padding: 0;
    padding-bottom: 5em;
    color: #482c29;
    font-size: 3em; }
  nav ul {
    max-width: none; }
  nav li {
    margin: 1em .5em; }
  nav a {
    padding-bottom: 0; } }

@media (min-width: 1280px) {
  #hero {
    height: 70vh; }
  #hero-img img {
    margin-top: -17.5%; }
  h1 {
    padding-bottom: 7em; } }

#kapcsolat {
  background-image: url(../img/bg/footer.jpg);
  background-size: cover; }
  #kapcsolat ul {
    padding: 1.5em 0 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  #kapcsolat li {
    padding: .5em .5em; }
    #kapcsolat li a:hover {
      border-bottom: none; }
    #kapcsolat li img {
      box-sizing: border-box;
      max-width: 72px;
      background-color: transparent;
      padding: .2em;
      border-radius: 50%;
      transition: .5s; }
      #kapcsolat li img:hover {
        background-color: #d3b098;
        border: none; }
  #kapcsolat span {
    display: none; }

#reachout {
  padding: 0 0 1.5em !important; }
  #reachout li img {
    max-width: 48px; }

#galeria h2 {
  color: #fafafa; }

#gallery {
  display: flex;
  justify-content: center;
  align-items: center; }
  #gallery img {
    width: 90vw;
    height: 55vw; }

#copyright {
  text-align: center;
  font-size: .6em;
  padding: 2em; }
  #copyright a {
    border-bottom: none; }
    #copyright a:hover {
      border-bottom: 1px solid #d3b098; }

@media (min-width: 480px) {
  #kapcsolat li {
    margin: 0 1rem; } }

@media (min-width: 640px) {
  #kapcsolat li {
    margin: 0 2rem; }
  #gallery img {
    width: auto; } }
  @media (min-width: 640px) and (orientation: landscape) {
    #gallery img {
      height: 70vh; } }

@media (min-width: 1280px) {
  #kapcsolat li {
    margin: 1em 4em; }
  #logos li {
    margin: 1em 6em; }
  #logos img {
    max-width: 128px !important; }
  #reachout li img {
    max-width: 64px; }
  #copyright {
    display: flex;
    justify-content: center; }
    #copyright h4 {
      padding: 1em; } }

#bemutatkozas {
  background-image: url(../img/bg/bg.png);
  background-color: #1f1511; }
  #bemutatkozas h2 {
    font-weight: lighter;
    text-transform: none; }
  #bemutatkozas ul, #bemutatkozas h2 {
    padding-bottom: 1.5rem; }
  #bemutatkozas li {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #bemutatkozas > p:first-of-type::after, #bemutatkozas > p:nth-of-type(2)::after {
    display: flex;
    justify-content: center;
    padding: .5em;
    content: '~'; }
  #bemutatkozas > p:first-of-type {
    text-align: left; }
  #bemutatkozas > p:last-of-type {
    text-align: right;
    padding-bottom: 1.5rem; }
  #bemutatkozas a:hover {
    color: #fafafa;
    border-bottom: 1px solid #fafafa; }

.profile-img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 1em 0; }

@media (min-width: 640px) {
  #bemutatkozas br {
    display: none; }
  #bemutatkozas ul {
    width: 75%;
    margin: 1em auto; }
  #bemutatkozas li {
    flex-direction: row; }
    #bemutatkozas li:nth-child(odd) h3, #bemutatkozas li:nth-child(odd) h4 {
      text-align: left; }
    #bemutatkozas li:nth-child(2) {
      margin: -.5em 0;
      flex-direction: row-reverse;
      align-self: flex-end; }
      #bemutatkozas li:nth-child(2) h3, #bemutatkozas li:nth-child(2) h4 {
        text-align: right; }
  .profile-img {
    margin: 0 1em; } }

@media (min-width: 768px) {
  #bemutatkozas ul {
    width: 65%; }
  #bemutatkozas > p:last-of-type {
    padding-bottom: 10%; } }

@media (min-width: 1024px) {
  #bemutatkozas > p {
    text-align: left !important; }
    #bemutatkozas > p:first-of-type::after, #bemutatkozas > p:nth-of-type(2)::after {
      display: none; } }

@media (min-width: 1280px) {
  #bemutatkozas h2 {
    padding-bottom: 2em; }
  #bemutatkozas ul {
    width: 55%; }
    #bemutatkozas ul li:nth-of-type(2) {
      margin: -2.5% 0; }
  #bemutatkozas > p {
    padding: 2.5% 27.5%; } }

@media (min-width: 1440px) {
  #bemutatkozas h2 {
    font-size: 2.5em;
    padding: 1.8em; }
  #bemutatkozas ul {
    width: 50%; }
  #bemutatkozas img {
    width: 156px;
    height: 156px; }
  #bemutatkozas > p {
    padding: 1% 30%; }
    #bemutatkozas > p:last-of-type {
      padding-bottom: 7.5%; }
    #bemutatkozas > p a {
      font-size: 1em; } }

#napraforgo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #napraforgo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg//intro.jpg);
    background-size: cover; }
  #napraforgo p, #napraforgo img {
    position: relative;
    z-index: 1; }
  #napraforgo p {
    text-align: left;
    padding: 2.5rem 10% 0; }
  #napraforgo div {
    display: flex; }
  #napraforgo img {
    margin: 2.5vw 2.5vw 2.5rem;
    height: 50vw;
    width: auto; }

@media (min-width: 640px) {
  #napraforgo {
    padding: 10% 5%;
    flex-direction: row; }
    #napraforgo p {
      text-align: right;
      padding: 0;
      margin-right: .5rem; }
    #napraforgo img {
      margin: 1vw;
      height: 25vw; } }

@media (min-width: 768px) {
  #napraforgo {
    padding: 20% 10%; }
    #napraforgo img {
      height: 192px; } }

@media (min-width: 1024px) {
  #napraforgo {
    flex-direction: column;
    align-items: flex-start;
    padding: 10% 40% 10% 10%; }
    #napraforgo p {
      text-align: left; } }

@media (min-width: 1280px) {
  #napraforgo {
    padding: 25% 10% 15% 55%;
    align-items: flex-end; }
    #napraforgo::after {
      background-position: right; }
    #napraforgo p {
      text-align: right; }
    #napraforgo img {
      height: 256px; } }

@media (min-width: 1280px) {
  #napraforgo {
    padding: 15% 10% 15% 60%; } }

#szolgaltatasok h2::after {
  display: block;
  content: 'Galéria';
  color: #38211e;
  font-size: .5em;
  padding: 0 1em 1.5rem 1em;
  letter-spacing: .5em; }

#szolgaltatasok li {
  overflow: hidden;
  box-shadow: inset 0 0 10px 5px #38211e;
  position: relative; }
  #szolgaltatasok li:nth-child(1) .services-bg {
    background-image: url(../img/bg/services_0.jpg); }
  #szolgaltatasok li:nth-child(2) .services-bg {
    background-image: url(../img/bg/services_1.jpg); }
  #szolgaltatasok li:nth-child(3) .services-bg {
    background-image: url(../img/bg/services_2.jpg); }

#szolgaltatasok a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  border: none; }
  #szolgaltatasok a:hover .services-bg {
    background-size: auto 105%;
    filter: none;
    opacity: 1; }

#szolgaltatasok p {
  position: relative;
  z-index: 1;
  text-align: right;
  max-width: 85%;
  padding: 0; }

#szolgaltatasok span {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/arrow.png);
  animation: link-arrow 1.5s infinite;
  background-size: cover; }

.services-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  transition: .5s;
  background-size: auto 100%;
  background-position: center;
  filter: blur(4px); }

@media (min-width: 480px) {
  #szolgaltatasok p {
    max-width: 65%; } }

@media (min-width: 640px) {
  #szolgaltatasok h2 {
    padding-bottom: 1em; }
    #szolgaltatasok h2::after {
      padding: 0 0 0 1em;
      display: inline; } }

@media (min-width: 768px) {
  #szolgaltatasok li {
    box-shadow: none; }
  #szolgaltatasok a {
    padding: 5% 0; }
  #szolgaltatasok p {
    max-width: 55%; } }

@media (min-width: 1024px) {
  #szolgaltatasok p {
    max-width: 60%;
    text-align: center; }
  #szolgaltatasok a {
    padding: 3% 0; }
    #szolgaltatasok a:hover .services-bg {
      background-size: 105% auto; }
  .services-bg {
    background-size: 101%;
    opacity: .5;
    filter: none; } }

@media (min-width: 1440px) {
  #szolgaltatasok p {
    max-width: 45%;
    font-size: 1em; }
  #szolgaltatasok a {
    min-height: 7.5vh; } }

#szobak {
  background-color: #af8a5e; }
  #szobak h2::after {
    display: block;
    content: 'Flóra ház';
    color: #594630;
    font-size: .5em;
    padding: 0 1em 1.5rem 1em;
    letter-spacing: .5em; }
  #szobak li {
    display: flex;
    flex-direction: column; }
    #szobak li:nth-child(1) {
      background-color: #321e1e; }
      #szobak li:nth-child(1) p {
        background-color: rgba(50, 30, 30, 0.75); }
      #szobak li:nth-child(1) h4 {
        background-color: #724444; }
    #szobak li:nth-child(2) {
      background-color: #37584c; }
      #szobak li:nth-child(2) p {
        background-color: rgba(55, 88, 76, 0.75); }
      #szobak li:nth-child(2) h4 {
        background-color: #5e9782; }
    #szobak li:nth-child(3) {
      background-color: #683626; }
      #szobak li:nth-child(3) p {
        background-color: rgba(104, 54, 38, 0.75); }
      #szobak li:nth-child(3) h4 {
        background-color: #b35d41; }
    #szobak li:nth-child(4) {
      background-color: #412221; }
      #szobak li:nth-child(4) p {
        background-color: rgba(65, 34, 33, 0.75); }
      #szobak li:nth-child(4) h4 {
        background-color: #844644; }
    #szobak li:nth-child(5) {
      background-color: #1b2431; }
      #szobak li:nth-child(5) p {
        background-color: rgba(27, 36, 49, 0.75); }
      #szobak li:nth-child(5) h4 {
        background-color: #405572; }
    #szobak li:nth-child(6) {
      background-color: #28311b; }
      #szobak li:nth-child(6) p {
        background-color: rgba(40, 49, 27, 0.75); }
      #szobak li:nth-child(6) h4 {
        background-color: #5e7240; }
  #szobak h4 {
    order: 1;
    font-family: Coolvetica;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 86px;
    height: 86px;
    margin: -43px auto 0;
    border-radius: 50%; }
  #szobak p {
    font-family: 'Times New Roman';
    order: 2;
    font-style: italic;
    padding: 1.5em; }
  #szobak img {
    width: 100%; }

@media (min-width: 480px) {
  #szobak li {
    align-items: center; }
  #szobak h4 {
    font-size: .9em;
    width: 64px;
    height: 64px;
    margin: -32px auto 0; }
  #szobak p {
    padding: .5em 15% 1.5em; }
  #szobak img {
    width: 65%; } }

@media (min-width: 640px) {
  #szobak h2 {
    padding-bottom: 1em; }
    #szobak h2::after {
      padding: 0 0 0 1em;
      display: inline; }
  #szobak img {
    width: 60%; } }

@media (min-width: 1024px) {
  #szobak ul {
    flex-grow: 1; }
  #szobak li {
    background-color: transparent !important;
    flex-direction: row;
    position: relative;
    height: 88vmin;
    z-index: 1; }
  #szobak img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: auto; }
  #szobak h4 {
    margin: 0 5%;
    width: 86px;
    height: 86px;
    font-size: 1.2em; }
  #szobak p {
    max-width: 30%;
    text-align: left;
    padding: 0; } }

@media (min-width: 1280px) {
  #szobak {
    overflow: hidden; }
    #szobak h4 {
      position: relative;
      z-index: 1;
      margin: 0 0 0 10%; }
    #szobak p {
      margin-left: -48px;
      padding: 2em 2em 2em 4em;
      max-width: 20%; }
    #szobak img {
      min-height: 100vh;
      min-width: 100vw; }
    #szobak li {
      height: 100vh; } }

#arak {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg//price.jpg);
  background-size: cover; }
  #arak span {
    color: #c77a7a;
    padding-left: .5em; }
  #arak h3 {
    padding: .4em;
    font-size: .8em; }
  #arak ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #arak li {
    padding: .5%; }

#pub-prices h2 {
  font-size: 1.2em;
  padding-top: .5rem; }

@media (min-width: 480px) {
  #arak {
    padding: 0 10%; } }

@media (min-width: 640px) {
  #arak {
    padding: 0 20%; }
  #pub-prices {
    padding-bottom: 15%; }
    #pub-prices h2, #pub-prices h3 {
      text-align: right; }
    #pub-prices h3:first-of-type {
      padding-top: 1em;
      text-align: left; }
    #pub-prices ul {
      align-items: flex-end; } }

@media (min-width: 768px) {
  #arak {
    padding: 0 25%; }
    #arak h2 {
      padding-top: 30%; }
  #room-prices {
    margin-top: 35%; }
    #room-prices ul {
      padding: 5% 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    #room-prices h4 {
      text-align: center;
      display: flex;
      flex-direction: column; }
  #pub-prices h2 {
    padding-top: 0; }
  #pub-prices h3:first-of-type {
    padding-top: 5%;
    padding-bottom: 5%; } }

@media (min-width: 1024px) {
  #pub-prices h3:first-of-type {
    padding-top: 15%; } }

@media (min-width: 1280px) {
  #room-prices {
    margin-top: 20%; }
  #pub-prices h3:first-of-type {
    padding-top: 20%; } }

@media (min-width: 1440px) {
  #pub-prices h3:first-of-type {
    padding-top: 25%; } }

#foglalas {
  background-image: url(../img/bg/reservation.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vw;
  justify-content: flex-end;
  padding-bottom: 2em; }
  #foglalas a {
    padding: 1.1em 0 .2em;
    color: #dd6565;
    background-image: linear-gradient(to right, #dd6565 33%, transparent 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x; }
    #foglalas a:hover {
      background-image: linear-gradient(to right, #fafafa 100%, transparent 0%);
      border-bottom: none;
      color: #fafafa; }

@media (min-width: 480px) {
  #foglalas {
    min-height: 0; }
    #foglalas h2 {
      margin-top: 45%; } }

@media (min-width: 640px) {
  #foglalas h2 {
    margin-top: 40%; } }

@media (min-width: 768px) {
  #foglalas h2 {
    margin-top: 40%; }
  #foglalas h3 {
    padding-bottom: 5%; } }

@media (min-width: 1024px) {
  #foglalas {
    background-size: 100% auto; }
    #foglalas h2 {
      margin-top: 30%; }
    #foglalas h3 {
      padding-bottom: 0; } }

@media (min-width: 1280px) {
  #foglalas h2 {
    padding-bottom: 0; } }

@media (min-width: 1440px) {
  #foglalas h3 {
    font-size: 1em; } }
