@import "ui/_vars"

.flag-select
  padding: .5rem 0 .5rem 2rem
.flag-options
  padding: 0
.flag-option
  padding: .5rem 1rem !important
  &:focus
    background: $accent-color !important

.menu
  display: grid
  position: fixed
  top: 0
  width: 100vw
  height: 100vh
  z-index: 10000
  grid-template-areas: "main-nav room-nav"
  grid-template-columns: 3fr 2fr
  grid-template-rows: 1fr

.menu-logo
  display: none

nav, .room-menu
  transition: .5s

nav
  position: relative
  z-index: 1
  grid-area: main-nav
  background-color: $light
  display: flex
  justify-content: center
  ul, li, a
    display: flex
    flex: 1
  ul
    margin: 0
    display: block

  a, .flag-select
    text-transform: uppercase
    letter-spacing: .05em
    color: $accent-color-dark
    font-weight: bolder
    font-size: 2rem
    font-family: "White Festive", sans-serif

  a
    align-items: center
    height: 48px
    padding-left: 2rem
    &:hover
      text-decoration: underline
      color: $accent-color
      &:focus
        text-decoration: none
        color: white


.language-selector
  display: grid
  place-items: center



.room-menu
  grid-area: room-nav
  background-color: transparentize($accent-color-dark, .2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  a
    color: $light
    position: relative
    width: 48px
    height: 48px
    display: grid
    place-items: center
    font-size: 1.5em

  li
    margin: .5em
    border-radius: 50%
    transition: .3s
    @for $i from 1 through length($rooms)
      &:nth-child(#{$i})
        background-color: darken(nth($rooms, $i), 10)
        &:hover
          background-color: darken(nth($rooms, $i), 20)
        a
          color: $light !important
          
.menu-hidden
  pointer-events: none
  .hamburger
    pointer-events: all
  nav
    transform: translateX(-100%)
  .room-menu
    transform: translateX(100%)

.flags-select
  color: $dark !important
  img
    display: inline

@import "./hamburger"

@media (min-aspect-ratio: 7/6), (min-width: 768px)
  .menu
    grid-template-areas: "main-nav" "room-nav"
    grid-template-rows: 96px 80px
    grid-template-columns: auto
    nav ul, .room-menu
      flex-direction: row
      flex-wrap: wrap
    nav
      ul
        display: flex
        justify-content: center
        align-items: flex-end
        margin: 0
      li
        flex: none
      a
        font-size: 3.5vw
        padding: 0 .5em
  .room-menu
    a
      font-size: 3vw

@media (min-width: 768px)
  .menu
    grid-template-areas: "menu-logo" "main-nav" "room-nav"
    height: auto
    grid-template-rows: auto
    nav
      padding: 1em 0
      a
        padding: 0 .3em
        font-size: 1.75em


  .room-menu
    background-color: transparent
    transform: translateY(-100%) !important
    a
      display: flex
      font-size: 1.25em

  .room-menu-show
    transform: none !important

  .menu-hidden
    nav, .room-menu
      transform: none

  .menu
    pointer-events: none
    li
      pointer-events: all

  .menu-logo
    background-color: $light
    grid-area: menu-logo
    display: block
    text-align: center
    position: relative
    z-index: -1
    height: 48px
    img
      height: 80%
      transform: translate(-50%, -50%)
      left: 50%
      top: 50%
      position: absolute

  
  .language-selector
    order: initial
    margin-top: 12px
    
  .flag-select
    padding-bottom: .4rem


@media (min-width: 1024px)
  .menu nav a
    padding: 0 1em
  .menu-logo
    transition: .5s
    height: 116px

  .menu-scrolled
    .menu-logo
      height: 0