#copyright
  h4 © Minden jog fenntartva. <br>
    |  Képek & Design :  
    a(href='https://www.facebook.com/gergo.boos' target='_blank') Boós Gergő
    |  - 
    |  Weblap & Design : 
    a(href='http://balazsorban.com' target='_blank') Orbán Balázs
