#copyright
  h4 Minden jog fenntartva. Képek, Design - © 
    a(href='https://www.facebook.com/gergo.boos' target='_blank') Boós Gergő
  h4 Design, Weblap elkészítése - © 
    a(href='http://balazsorban.com' target='_blank') Orbán Balázs
