script(src='http://meandmax.github.io/lory/dist/lory.min.js')
script(src=assets + 'js/index.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgcZZeFwgFLAu26x2TYp14W0qh1AG1eII' async defer)
script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase.js')
script.
  var config = {
    apiKey: 'AIzaSyD_6rgKCy6-EwjkM7xaJEgdGKwmmEEcTGs',
    authDomain: 'bibic-vendeghaza-1501339026788.firebaseapp.com',
    databaseURL: 'https://bibic-vendeghaza-1501339026788.firebaseio.com',
    projectId: 'bibic-vendeghaza-1501339026788',
    storageBucket: 'bibic-vendeghaza-1501339026788.appspot.com',
    messagingSenderId: '159494803934'
  };
  firebase.initializeApp(config);
