@charset "UTF-8";
body, ul, h1, h2, h3, h4, h5, p, textarea, input, fieldset {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

li {
  list-style-type: none; }

img {
  display: block;
  color: black;
  max-width: 100%; }

section {
  position: relative;
  background-color: #1c1614;
  min-height: 70vh; }

textarea, input, fieldset {
  border: none; }

textarea:focus, input:focus, button:focus {
  outline: none; }

button {
  cursor: pointer; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@font-face {
  font-family: "White Festive";
  src: url("./media/fonts/WhiteFestive.otf"); }

@font-face {
  font-family: "Coolvetica";
  src: url("./media/fonts/Coolvetica.woff"); }

a {
  color: #d3b098;
  transition: .3s; }
  a:hover {
    color: #fafafa; }

section {
  font-family: "Coolvetica";
  color: #fafafa; }
  section h2 {
    letter-spacing: .05em;
    line-height: 1.5;
    text-shadow: 2px 2px 0 #594630;
    font-family: "White Festive";
    margin-top: 2.5%;
    font-size: 50px; }
  section h3, section h4, section p {
    font-weight: lighter; }
  section h3, section h4 {
    text-align: center; }
  section h3 {
    font-size: 25px; }
  section p {
    line-height: 1.5;
    letter-spacing: .015em; }

@keyframes link-arrow {
  0%, 100% {
    transform: translateX(-20%) translateY(-50%); }
  50% {
    transform: translateX(20%) translateY(-50%); } }

@keyframes scroll-arrow {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg); }
  80%, 100% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(90deg); } }

@keyframes pulsate {
  100% {
    opacity: 0;
    transform: scale(1.8); } }

@keyframes fade1 {
  0%, 100% {
    opacity: 1; }
  33.333%, 66.666% {
    opacity: 0; } }

@keyframes fade2 {
  0%, 66.666%, 100% {
    opacity: 0; }
  33.333% {
    opacity: 1; } }

@keyframes fade3 {
  0%, 33.333%, 100% {
    opacity: 0; }
  66.666% {
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.hero {
  overflow: hidden;
  background-color: black;
  min-height: 100vh; }

.hero-bg {
  position: absolute;
  height: 100%;
  max-width: none;
  transform: translateX(-40%); }

.scroll-icon {
  position: absolute;
  bottom: 32px;
  left: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 12px;
  background: url("./media/icons/arrow.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  animation: scroll-arrow 1.5s infinite;
  z-index: 1; }

@media (orientation: landscape) {
  .hero-bg {
    transform: none;
    height: auto;
    width: 115%; } }

@media (min-width: 768px) {
  .hero-bg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .scroll-icon {
    bottom: 64px;
    width: 36px;
    height: 36px; } }

nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: 60px;
  width: 100%;
  z-index: 1000;
  transition: .2s ease-in;
  background-image: linear-gradient(rgba(28, 22, 20, 0.5), transparent 80%); }

#menu, #szoba-lista {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  will-change: transform; }

#menu {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-color: rgba(28, 22, 20, 0.985);
  transition: .3s; }
  #menu > li {
    cursor: pointer;
    margin: 1.5rem 0 .5rem; }

#rooms-menu {
  text-align: right;
  min-width: calc(60% - 8px);
  border-left: 8px solid #fafafa;
  padding-left: 0; }

#szoba-lista {
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  background-color: rgba(72, 44, 41, 0.4);
  border-right: 1px solid #fafafa; }
  #szoba-lista li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1c1614; }
  #szoba-lista a::after {
    content: '. Szoba'; }

.nav-fixed {
  box-sizing: border-box;
  background-image: url(./media/images/bg/bg.png);
  background-color: #1c1614;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid white; }

@media (min-width: 360px) {
  #menu > li {
    margin: 2rem 0 1rem; }
  #szoba-lista li {
    margin-top: .5rem; }
  #szoba-lista a {
    padding-bottom: 1.5rem; } }

@media (min-width: 786px) {
  #menu,
  #szoba-lista {
    flex-direction: row;
    height: auto; }
  #menu {
    font-family: WhiteFestive !important; }
    #menu a {
      padding: .25em; }
  #rooms-menu {
    min-width: auto;
    border-left: none; }
  #szoba-lista {
    display: none; } }

#bemutatkozas {
  background-image: url(./media/images/bg/bg.png);
  background-color: #1c1614;
  padding: 7.5%; }

.welcome-title {
  color: #d3b098;
  text-align: center; }

.history {
  margin: 7.5% auto 10%; }

.profiles li:nth-of-type(2) {
  margin: 15% 0; }

.profile-img {
  display: block;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 0 auto; }

@media (min-width: 560px) {
  .profiles li {
    display: flex;
    align-items: center; }
    .profiles li:nth-child(odd) h3, .profiles li:nth-child(odd) h4 {
      text-align: left; }
    .profiles li:nth-child(2) {
      margin: -2.5% 0;
      flex-direction: row-reverse;
      align-self: flex-end; }
      .profiles li:nth-child(2) h3, .profiles li:nth-child(2) h4 {
        text-align: right; }
  .profile-img {
    margin: 0 5%; } }

@media (min-width: 640px) {
  #bemutatkozas {
    padding: 5%; }
  .history p:nth-child(even) {
    margin: 5% 0;
    text-align: right; } }

@media (min-width: 768px) {
  #bemutatkozas {
    padding: 5% 12.5%; }
  .welcome-title {
    font-size: 70px; }
  .profiles {
    max-width: 720px;
    margin: 0 auto; }
    .profiles li:last-child {
      margin-left: 15%; }
  .history {
    max-width: 580px;
    margin: 12.5% auto 64px auto; } }

@media (min-width: 960px) {
  .profiles {
    max-width: 840px; }
  .history p:nth-child(2) {
    margin: 7.5% 0;
    text-align: center; }
  .history p:last-child {
    text-align: right; } }

@media (min-width: 1024px) {
  .history {
    margin-top: 10%; }
    .history p:nth-child(2), .history p:last-child {
      text-align: left; } }

@media (min-width: 1280px) {
  #bemutatkozas li img {
    transition: .2s ease-in-out;
    cursor: pointer; }
    #bemutatkozas li img:nth-of-type(2) {
      margin: -2.5% 0; }
    #bemutatkozas li img:hover {
      transform: scale(1.15); } }

@media (min-width: 1440px) {
  .profiles img {
    width: 192px;
    height: 192px; } }

#napraforgo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #napraforgo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./media/images/bg//intro.jpg);
    background-size: cover; }
  #napraforgo p, #napraforgo img {
    position: relative;
    z-index: 1; }
  #napraforgo p {
    text-align: left;
    width: 85vw;
    margin: 7.5vw 0; }
  #napraforgo #certificates {
    display: flex; }
  #napraforgo img {
    position: relative;
    height: 50vw;
    margin-bottom: 7.5vw;
    transform-origin: bottom right;
    transition: .3s; }
    #napraforgo img:first-of-type {
      margin-right: 7.5vw;
      transform-origin: bottom left; }
    #napraforgo img:hover {
      z-index: 10;
      box-shadow: 0 0 150px 40px black;
      transform: scale(2); }

@media (min-width: 640px) {
  #napraforgo {
    flex-direction: row-reverse; }
    #napraforgo::after {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./media/images/bg//intro.jpg); }
    #napraforgo p {
      text-align: right;
      margin: 5vw 5vw 5vw 2.5vw; }
  #certificates {
    margin-left: 5vw; }
    #certificates img {
      margin-bottom: 0;
      height: 35vw; }
      #certificates img:first-of-type {
        margin-right: 0; } }

@media (min-width: 768px) {
  #napraforgo p {
    margin: 10vw 10vw 10vw 5vw; }
  #certificates {
    margin-left: 10vw; }
    #certificates img {
      height: 192px; } }

@media (min-width: 1024px) {
  #napraforgo {
    padding: 5vw;
    flex-direction: column;
    align-items: flex-end; }
    #napraforgo::after {
      background-image: url(./media/images/bg//intro.jpg); }
    #napraforgo p {
      margin: 0 0 5vw 0;
      width: 45%; }
  #certificates img {
    position: relative;
    border: 8px solid white;
    height: 256px; }
    #certificates img:first-of-type {
      margin-right: 5vw; } }

@media (min-width: 1280px) {
  #napraforgo img {
    cursor: pointer; }
    #napraforgo img:first-of-type {
      transform-origin: bottom right; } }

@media (min-width: 1440px) {
  #napraforgo {
    padding: 10vw; }
    #napraforgo p {
      width: 35%; }
  #certificates img:first-of-type {
    margin-right: 2vw; } }

#szolgaltatasok {
  background-color: #1c1614;
  background-image: url(./media/images/bg/bg.png);
  display: flex;
  flex-direction: column; }
  #szolgaltatasok img {
    width: 100%; }
  #szolgaltatasok li p {
    background-color: #fafafa;
    color: black; }
  #szolgaltatasok p {
    padding: 5vw; }
  #szolgaltatasok a {
    align-self: flex-end;
    margin: 0 15vw 15vw 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #724444;
    color: #fafafa;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    font-size: 1.2em; }
    #szolgaltatasok a::before {
      font-size: 80%;
      position: absolute;
      content: 'Ugrás a';
      left: 0;
      transform: translateX(-100%);
      padding-right: .5em; }

@media (orientation: landscape) {
  #szolgaltatasok p {
    margin: -5vw 7.5vw 7.5vw;
    padding: 7.5vw 2.5vw 2.5vw; }
  #szolgaltatasok img {
    position: relative;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
  #szolgaltatasok a {
    margin-bottom: 7.5vw; } }

@media (min-width: 768px) {
  #szolgaltatasok p {
    padding: 7.5vw 20vw 5vw; } }

@media (min-width: 1024px) {
  #szolgaltatasok {
    position: relative; }
    #szolgaltatasok h2 {
      text-align: left;
      margin-left: 15vw;
      padding-bottom: 0; }
    #szolgaltatasok ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 5vw; }
    #szolgaltatasok li {
      margin: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      width: 35vw;
      background-color: #fafafa; }
      #szolgaltatasok li p {
        background-color: transparent;
        margin: 0;
        padding: 1.5em; }
    #szolgaltatasok img {
      box-shadow: none;
      width: 100%; }
    #szolgaltatasok > p {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 7.5vw 15vw;
      padding: 0;
      max-width: 30vw; } }

@media (min-width: 1280px) {
  #szolgaltatasok ul {
    flex-wrap: nowrap; }
  #szolgaltatasok li {
    width: 30vw; }
  #szolgaltatasok a {
    margin: 1.5vw 20vw 2.5vw;
    font-size: 1.7em;
    width: 192px;
    height: 192px;
    transition: .3s ease-in-out; }
    #szolgaltatasok a:hover {
      background-color: #482c29; }
    #szolgaltatasok a::before {
      font-size: 70%; } }

#galeria {
  background-image: url(./media/images/bg/footer.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50vw; }
  #galeria h2 {
    margin-left: 1em;
    letter-spacing: 1em; }

.gallery-slider {
  max-width: 50vw; }

.gallery-slide {
  pointer-events: none;
  height: auto; }

@media (orientation: landscape) {
  #galeria {
    padding-bottom: 20vw; } }

#map {
  padding: 5%; }

#map-canvas {
  min-height: 65vw;
  background: black;
  z-index: 1;
  position: relative;
  margin-top: -40vw;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed white; }
  #map-canvas:after {
    content: "Térkép";
    font-size: 3em;
    color: white; }

@media (orientation: landscape) {
  #map {
    padding: 15% 10%;
    margin-bottom: -10vw; }
  #map-canvas {
    margin-top: -20vw;
    min-height: 40vw; } }

#logos {
  display: none; }

#reachout {
  filter: invert(1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(7.5% - 36px) 7.5% 7.5%; }
  #reachout li {
    margin: 1em; }
  #reachout a {
    transition: .3s;
    border-bottom: none;
    color: #fafafa; }
    #reachout a:hover {
      color: #d3b098; }
  #reachout img {
    width: 48px;
    height: 48px;
    transition: .3s; }
  #reachout span {
    display: none; }

@media (min-width: 640px) {
  #logos {
    filter: invert(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 36px 17.5% 0; }
    #logos li {
      margin: 1em; }
    #logos li:nth-of-type(2) {
      order: -1; }
    #logos img {
      width: 128px;
      height: 128px;
      margin-top: -72px; } }

@media (min-width: 1024px) {
  #reachout {
    margin: -36px 15% 0; }
    #reachout span {
      display: block;
      margin-left: .5em; }
    #reachout a {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between; } }

@media (min-width: 1280px) {
  #kapcsolat {
    margin: 0 10% 5% 10%; }
  #logos img {
    width: 192px;
    height: 192px; } }

#copyright {
  background-color: black;
  text-align: center;
  padding: 2em 0; }
  #copyright a {
    padding: .2em; }
  #copyright h4 {
    color: #fafafa;
    font-family: Coolvetica;
    font-weight: lighter;
    font-size: .6em; }

@media (min-width: 1024px) {
  #copyright h4 br {
    display: none; } }

footer {
  box-shadow: inset 0 10px 20px 0px rgba(0, 0, 0, 0.6);
  background-color: #fafafa; }
